p
{
    font-family: 'PT Serif', serif;
    /* background-color: #9ABCA7; */
}

header{
    margin: auto;
}

#cikkContainer{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 1200px;
}

.mellekdiv{
    border: 1px solid black;
    border-radius: 10px;
    width:300px ;
    margin:auto;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    box-shadow: 5px 10px 8px #131212;
    background-color: #B7B7B7;
    text-align: center;

}

.mellekdiv h1{
    font-size: 25px;
    color: black;
}

.mellekdiv p{
    color: black;
}

#halo{
    margin: auto;
    width: 1200px;
    text-align: justify;
}

#halo h1{
    text-align: center;
}



