:root{
    --menu: rgba(186, 173, 160, 0.8);
    --menuArnyeknelkul: rgba(186, 173, 160, 1);
    --hatterAtmenet2: #edede9;
    --hatterAtmenet1: #cebdb0;
    --Cim: #bba090;
}

p
{
    font-family: 'PT Serif', serif;
}

header{
    margin: auto;
}


#cikkContainer{
    border-radius: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 0 0 10%;
    margin: auto;
    z-index: -1;
}

nav{
    z-index: 1;
}

.mellekdiv{
    padding: 35px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    width:400px ;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: none;
    background-color: var(--Cim);
    text-align: center;

}

.mellekdiv:hover{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
    background-color: rgba(105, 76, 59, 0.685);
    color: aqua;
}

.mellekdiv h1{
    font-size: 25px;
    color: black;
}

.mellekdiv p{
    color: black;
}

button{
    padding: 1px; 
    position: absolute;
    left: 39.75%;
    bottom: 10px;
    text-align: center;
    border: none;
    font-size: 16pt;
    text-align: center;
    background-color: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12pt;
}

button:hover{
    cursor: pointer;
}

#halo{
    margin: auto;
    width: 90%;
    text-align: center;
    background-color:rgba(128, 128, 128, 0.342);
    border-radius: 20px;
}

#halo h1{
    margin: 50px;
    padding: 15px;
}

#halo p{
    text-align: justify;
    margin: 15px;
    padding: 15px;
}

#halo img {
    border-radius: 10px;
    margin: 10px;
    width: 45%;
}

#halo li {
    list-style: none;
    text-align: justify;
    text-align: center;
    padding: 10px;
    font-size: 17px;
}
#linkekdiv{
    position: relative;
    width: 100%;
    height: 300px;
}

#linkekdiv ul{
    position: absolute;
    right:85%
}

 #linkekdiv ul li a{
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
 }
 #linkekdiv ul li a:hover
 {
     color: blue;
 }

 .forrasokp{
    font-size: 20px;
    font-weight:bold;
 }


@media screen and (max-width: 1000px) {
    #cikkContainer{
        grid-template-columns: 1fr;
    }

    #halo{
        margin-top: 50px;
        width: 90%;
    }

    #halo img{
        width: 90%;
    }

    #linkekdiv ul{
        position: absolute;
        right:75%
    }
}

@media screen and (max-width: 500px) {
    .mellekdiv{
        width: 100%;
    }
    #halo{
        margin-top: 50px;
        width: 90%;
    }
    #halo h1
    {
        margin: 0px;
        margin-bottom: 30px;
    }

    #halo img{
        width: 80%;
    }

    #linkekdiv ul{
        position: absolute;
        right:65%
    }
}
@media screen and (max-width: 400px) 
{
    .mellekdiv{
        width: 100%;
        height: 300px;
        line-height: center;
    }
    #halo{
        margin-top: 50px;
        width: 90%;
    }
    #halo h1
    {
        margin: 0px;
        margin-bottom: 30px;
        font-size: 28px;
    }

    #halo h2
    {
        font-size: 22px;
    }

    #halo img{
        width: 80%;
    }

    #linkekdiv ul{
        position: absolute;
        right:65%
    }
}