:root{
    --menu: rgba(186, 173, 160, 0.8);
    --menuArnyeknelkul: rgba(186, 173, 160, 1);
    /* --menu: rgba(214, 204, 194, 0.8); */
    --hatterAtmenet2: #edede9;
    --hatterAtmenet1: #cebdb0;
    /* --galeriaHatterAtmenet: #e3d5ca; */
    --Cim: #d5bdaf;
    /* #3E78B2,#004BA8,#4A525A,#24272B,#07070A */
}

p
{
    font-family: 'PT Serif', serif;
}

header{
    margin: auto;
}


#cikkContainer{
    border-radius: 10px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex: 0 0 10%;
    margin: auto;
    z-index: -1;
}

nav{
    z-index: 1;
}

.mellekdiv{
    margin: auto;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    width:500px ;
    height: 300px;
    /* border-radius: 10px; */
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 9px, rgba(0, 0, 0, 1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color: var(--Cim);
    text-align: center;

}

.mellekdiv:hover{
    transition: 0.5s all ease-in-out;
    transform: scale(1.2);
    background-color: rgba(105, 76, 59, 0.685);
    color: aqua;
}

.mellekdiv h1{
    font-size: 25px;
    color: black;
}

.mellekdiv p{
    color: black;
}

button{
    padding: 1px; 
    position: absolute;
    left: 195px;
    bottom: 10px;
    text-align: center;
    border: none;
    font-size: 16pt;
    text-align: center;
    background-color: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 2) 0px 2px 9px;
}

button:hover{
    cursor: pointer;
}

#halo{
    margin: auto;
    width: 90%;
    text-align: center;
    background-color:rgba(128, 128, 128, 0.342);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 2) 0px 2px 9px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#halo h1{
    margin: 50px;
    padding: 15px;
}

#halo p{
    text-align: justify;
    margin: 15px;
    padding: 15px;
}

#halo img {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 9px, rgba(0, 0, 0, 1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    margin: 10px;
    width: 45%;
}

#halo li {
    list-style: none;
    text-align: justify;
    /* margin-left: 30%; */
    text-align: center;
    padding: 10px;
    font-size: 17px;
}
#linkekdiv{
    position: relative;
    width: 100%;
    height: 300px;
}

#linkekdiv ul{
    position: absolute;
    right:85%
}

 #linkekdiv ul li a{
    margin: 15px;
    text-decoration: none;
    color: black;
    font-size: 16px;
 }

 .forrasokp{
    font-size: 20px;
    font-weight:bold;
 }

@media screen and (max-width: 1150px) {
    #cikkContainer{
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }

    #halo{
        width: 900px;
    }

    #halo img{
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    #cikkContainer{
        grid-template-columns: 1fr;
    }

    #halo{
        width: 500px;
    }

    #halo img{
        width: 90%;
    }

    #linkekdiv ul{
        position: absolute;
        right:75%
    }
}

@media screen and (max-width: 500px) {
    #halo{
        width: 100%;
    }

    #halo img{
        width: 90%;
    }

    #linkekdiv ul{
        position: absolute;
        right:65%
    }
}