:root
{
    
    --galeriaGomb: #f5ebe0;
    /* #9F9AA4, #E7CFCD, #CFD8D7, #B5C9C3, #CAB1BD */
}

main
{
    display: grid;
    grid-template-areas: "h h h h h h h"
                         "n n n n n n n"
                         "s s s s s s s"
                         "a a a a a a a"
                         "f f f f f f f";
}
section
{
    grid-area: s;
}

#gombok
{
    display: flex;
    justify-content: space-evenly;
    /* /* margin-left: 80px; */
    width: 90%;
}

#gombok button
{
    cursor: pointer;
    border: none;
    background-color: var(--galeriaGomb);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16pt;
}

#gombok button:focus, #gombok button:hover
{
    background-color: black;
    color: white;
}

header
{
    grid-area: h;
    background-color: var(--Cim);
    opacity: 0.5;
}

header h1
{
    line-height: 100px;
    text-align: center;
    color: #540b0e;
    opacity: 1;
    z-index: 111111;
}

nav
{
    grid-area: n;
}

article
{
    grid-area: a;
}

#tartalom
{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

 .galeria .galeriaKepek
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start ;
    flex-wrap: wrap;
}

.galeriaKepek div
{
    flex: 0 0 24%;
    padding: 10px;
    justify-content: center;
}

.galeria .galeriaKepek img
{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

.galeriaKepek div span
{
    font-weight: bold;
}

.galeriaKepek div p
{
    text-align: center;
}

.galeriaKepek a
{
    color: black;
    text-decoration: none;
}

/* aside rész */

aside
{
    grid-area: as;
    margin-top: 60px;
}

.tervezok p
{
    margin: 5px;
    float: left;
    margin-top: 20px;
}

.tervezok a
{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;
    
    padding: 5px;
    color: black;
}

.tervezok a:hover
{
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.8);
}

.tervezok div
{
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
    padding: 5px; 
}

.szoveg
{
    font-size: 12pt;
    margin: 10px;
    padding: 10px;
    text-align: justify;
}
.szoveg li
{
    margin: 5px;
    margin-left: 15px;
    padding-left: 20px;
}
footer
{
    grid-area: f;
    text-align: center;
}

@media screen and (max-width: 1000px)
{
    article
    {
        max-width: 100%;
    }
    #tartalom
    {
        grid-template-columns: 2fr 1fr;
    }
    .galeriaKepek div
    {
        flex: 0 0 33%;
    }
    .galeriaKepek img
    {
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 800px)
{
    #gombok
    {
        justify-content: space-evenly;
        /* margin-left: 20px; */
        width: 100%;
    }
    #tartalom
    {
        width: 100%;
        grid-template-columns: 2fr 1fr;
    }
    .galeriaKepek div
    {
        flex: 0 0 45%;
    }
    .tervezok div
    {
        width: 100%;
    }
}

@media screen and (max-width: 700px)
{
    #gombok
    {
        justify-content: center;
        width: 100%;
    }
    #tartalom
    {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
    .galeriaKepek div
    {
        flex: 0 0 80%;
    }
    .tervezok div
    {
        width: 100%;
    }
}

@media screen and (max-width: 500px)
{
    #gombok
    {
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        /* display: grid;
        grid-template-columns: 1fr; */
    }
    #tartalom
    {
        width: 100%;
        grid-template-columns: 1fr;
    }
    .galeriaKepek div
    {
        flex: 0 0 80%;
    }
    .tervezok div
    {
        width: 100%;
        margin-left: 50px;
    }
}