* {
    justify-content: center;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
}


#fodiv {
    display: flex;
    flex-direction: row;
    /* padding: 50px; */
}

div {
    margin: 10px;
}
#mellek_div{
    height: 300px;
    overflow: hidden;
}

/* #mellek_div>a,
img {
    transition: transform .7s ease;
} */

/* #mellek_div */
.kep:hover {
    width: 50%;
    transition: 0.5s all ease-in-out;
}
   
/* #mellek_div */
.kep:hover {
    transform: scale(1.5);
}

/* #mellek_div>a,
img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 0px 3px 10px rgba(0,0,0,0.4);
} */
img{
    width: 250px;
}
#kep{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}