main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
a
{
    text-decoration: none;
}
h2 {
    /* text-decoration: underline; */
    margin-top: 20px;
    text-align: center;
}

#navbar {
    text-align: left;
}

#memory-game {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#memory-game div {
    width: 130px;
    height: 190px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#memory-game .visible, #memory-game .found {
    background-size: 100%;
    background-repeat: no-repeat;
}

#memory-game .found {
    cursor: default;
}

#memory-game #default-img {
    max-width: 50vw;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
}

#points {
    width: 300px;
    margin: auto;
    padding-top: 10px;
}

#points p {
    text-align: center;
}

#difficulty {
    /* width: 800px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

#difficulty div, #difficulty h3 {
    margin-left: auto;
    margin-right: auto;
}

#difficulty h3 {
    margin-top: 3px;
    margin-bottom: 2px;
}

#difficulty div button {
    background-color: #f5ebe0;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 4px 10px;
    margin: 5px 20px;
    font-size: 16pt;
    text-decoration: none;
    color: black;
}

#difficulty button:hover, #difficulty .active {
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
}

#footer {
    width: 100%;
    padding: 20px;
}

#title a h1
{
    text-decoration: none;
}

/* Animáció: */
@keyframes megtalalt {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

/* Reszponzivitás: */
@media screen and (max-width: 1200px) {
    #memory-game {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    #navbar {
        width: 100%;
    }
    
    #memory-game {
        width: 100%;
    }

    #memory-game div {
        width: 120px;
        height: 140px;
    }

    #points {
        margin: 0 auto;
    }

    #difficulty {
        max-width: 50%;
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    #memory-game {
        width: 100%;
    }

    #memory-game div {
        width: 120px;
        height: 140px;
    }

    #difficulty {
        flex-direction: column;
        gap: 10px;
        max-width: 100%;
    }

    #difficulty div button {
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 500px) {
    #memory-game #default-img {
        display: none;
    }
}

@media screen and (max-width: 442px) {
    #title {
        height: 180px;
    }
}

@media screen and (max-width: 400px) {
    #memory-game {
        width: 100%;
    }

    #memory-game div {
        width: 120px;
        height: 140px;
    }

    #difficulty {
        width: 75%;
        flex-direction: column;
        gap: 10px;
    }

    #difficulty div button {
        margin: auto;
        margin-bottom: 10px;
    }
}