main {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    text-decoration: underline;
}

#navbar {
    text-align: left;
}

#memory-game {
    max-width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#memory-game div {
    width: 130px;
    height: 190px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#memory-game .visible, #memory-game .found {
    background-size: 100%;
    background-repeat: no-repeat;
}

#memory-game .found {
    cursor: default;
}

#points {
    width: 300px;
    margin: auto;
    padding-top: 10px;
}

#points p {
    text-align: center;
}

#difficulty {
    width: 450px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#difficulty button {
    background-color: #f5ebe0;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

#difficulty button:hover, #difficulty .active {
    font-weight: bold;
    color: white;
    background-color: black;
    cursor: pointer;
}

#footer {
    width: 100%;
    padding: 20px;
}

/* Animáció: */
@keyframes megtalalt {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

/* Reszponzivitás: */
@media screen and (max-width: 1200px) {
    #memory-game {
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    #navbar {
        width: 100%;
    }
    
    #memory-game {
        width: 100%;
    }

    #memory-game div {
        width: 120px;
        height: 140px;
    }
}

@media screen and (max-width: 600px) {
    #memory-game {
        width: 100%;
    }

    #memory-game div {
        width: 120px;
        height: 140px;
    }

    #difficulty {
        flex-direction: column;
        gap: 10px;
    }

    #difficulty button {
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width: 600px) {
    #memory-game {
        width: 100%;
    }

    #memory-game div {
        width: 120px;
        height: 140px;
    }

    #difficulty {
        max-width: 400px;
        flex-direction: column;
        gap: 10px;
    }

    #difficulty button {
        width: 60%;
        margin: auto;
    }

    footer {
        max-width: 400px;
    }
}