body {
    background-color: #0099ff;
}

main {
    background-color: #ccc;
    width: 100%;
    text-align: center;
}

#navbar {
    text-align: left;
}

#game {
    width: 900px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

#game div img {
    width: 200px;
    height: 200px;
}