article{
    max-width: 90%;
    margin: auto;
}
main
{
    min-height: 100vh;
}
#valasztas h2{
    margin-top: 15px;
}
#gombok button
{
    width: 200px;
    cursor: pointer;
    border: none;
    background-color: var(--galeriaGomb);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    font-size: 16pt;
}
#teszt  div{
    padding-left: 15px;
    padding-bottom: 15px;
}
#teszt div label, #teszt div span{
    font-size: 18px;
}
#gombok button:focus, #gombok button:hover
{
    background-color: black;
    color: white;
}
:root{
    
    --galeriaGomb: #f5ebe0;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
form div{
    font-size: 20px;
    border:1px solid grey;
    margin:10px;
    padding-left: 5px;
    border-radius: 5px;
}

form div p{
    margin-top: 15px;
}

#kuldes{
    text-align: center;
}
#kuldes button{
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    border: 0px
}
#gombok{
    display: flex;
    justify-content: space-around;
}
form div input,form div label,form div p{
    margin-bottom: 10px;
}
@media screen and (max-width: 1200px){
    form{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 900px){
    form{
        grid-template-columns: 1fr;
    }
    #gombok{    
        flex-direction: column;
    }
    #gombok button{
    width: 100%;
}
}