article{
    max-width: 90%;
    margin: auto;
}
#gombok button
{
    cursor: pointer;
    border: none;
    background-color: var(--galeriaGomb);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16pt;
}
#gombok button:focus, #gombok button:hover
{
    background-color: black;
    color: white;
}
:root{
    
    --galeriaGomb: #f5ebe0;
    /* #9F9AA4, #E7CFCD, #CFD8D7, #B5C9C3, #CAB1BD */
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
form div{
    font-size: 20px;
    border:1px solid grey;
    margin:10px;
    padding-left: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.5);
}

form div p
{
    margin-top: 15px;
}

#kuldes{
    text-align: center;
}
#kuldes button{
    background-color: #d4e09b;
    font-size: 40px;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
}
#gombok{
    display: flex;
    justify-content: space-around;
}
form div input,form div label,form div p{
    margin-bottom: 10px;
}
@media screen and (max-width: 1200px){
    form{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 900px){
    form{
        grid-template-columns: 1fr;
    }
    #gombok{    
        flex-direction: column;
    }
}